:root {
  --main-color: #f2476e;
}

.main-content {
  padding: 50px 0;
}

svg {
  fill: var(--main-color);
  vertical-align: middle;
}

.fw-600 {
  font-weight: 600;
}

@media (min-width: 768px) {
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item,
  .carousel-inner
    .active
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    display: block;
  }

  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner
    .active.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -20%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item
    .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

#productCarousel {
  overflow: hidden;
  .carousel-control-next,
  .carousel-control-prev {
    opacity: 1;
    width: 10%;
    background-color: transparent;
    @media (min-width: 768px) {
      background-color: white;
    }
  }
  .carousel-inner {
    width: auto;
    @media (max-width:767px){
        padding-left: 22px;
        padding-right: 22px;
    }
  }
  @media (min-width: 768px) {
    .carousel-item {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    position: absolute;
    background: white;
    width: 30px;
    height: 30px;
    transform: translateY(30px);
    @media (min-width: 768px) {
      transform: translateY(-30px);
    }
    .icon {
      width: 18px;
      height: auto;
    }
  }
  .carousel-control-prev-icon {
    right: -15px;
  }
  .carousel-control-next-icon {
    left: -15px;
  }
}

.product-item__title {
  @media (min-width: 768px) {
    min-height: 72px;
  }
}
.product-item__reivew-count {
  font-size: 12px;
  vertical-align: bottom;
}

.price {
  color: var(--main-color);
}

.price--compare {
  color: black;
  font-size: 15px;
}

.btn-cart {
  font-size: 13px;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.btn-outline {
  color: var(--main-color);
  background-color: transparent;
  background-image: none;
  border-color: var(--main-color);
}

.btn-shop {
  min-width: 200px;
  @media (min-width: 768px) {
    min-width: 130px;
  }
}
